{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="site-breadcrumb">
        <div class="container">
            <a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-right"></i>
            <span>About Us</span>
        </div>
    </div>

    <section class="about-section spad pt-0">
        <div class="container">
            <div class="section-title text-center">
                <h3>Respublika taʼlim markazi</h3>
                <p>Respublika Oʻquv-metodika markazi</p>
            </div>
            <div class="row">
                <div class="col-lg-6 about-text">
                    <h5>Biz haqimizda</h5>
                    <p>1988-yil 13-dekabrda „Respublika Oʻquv-metodika markazi“ sifatida tashkil topgan. 1995-yildan
                        boshlab „Respublika Oʻquv-metodika markazi“ „Respublika Taʼlim ilmiy-metodika markazi“ deb
                        yuritilgan. 1996-yildan beri esa „Respublika taʼlim markazi“ deb nomlanadi.</p>
                    <h5 class="pt-4">Respublika taʼlim markazining vazifalari</h5>
                    <p>Led at felis arcu. Integer lorem lorem, tincidunt eu congue et, mattis ut ante. Nami suscipit,
                        lectus
                        id efficitur ornare, leo libero convalis nulla, vitae dignissim .</p>
                    <ul class="about-list">
                        <li><i class="fa fa-check-square-o"></i>Respublika taʼlim markazi umumiy oʻrta taʼlimning
                            o‘qitish standartlarini ishlab chiqadi.
                        </li>
                        <li><i class="fa fa-check-square-o"></i> Vazirlik buyurtmasiga asosan tuzuvchilarni tanlaydi
                            hamda qo‘llanma va darslik yaratishning yagona maketlarini ishlab chiqadi.
                        </li>
                        <li><i class="fa fa-check-square-o"></i> Respublika taʼlim markazi yaratilgan darslik va metodik
                            qoʻllanmalarni ekspertizadan oʻtkazadi, qoʻllash boʻyicha xulosa beradi.
                        </li>
                        <li><i class="fa fa-check-square-o"></i>Oʻquv rejasi, dasturlari, yaratilgan darsliklar va
                            metodik qoʻllanmalarni tajriba-sinovdan oʻtkazish ishlariga rahbarlik qiladi.
                        </li>
                        <li><i class="fa fa-check-square-o"></i>Fanlarni oʻqitish metodikasi va oʻquvchilar bilimlarini
                            baholashning zamonaviy uslublarini ishlab chiqadi.
                        </li>
                        <li><i class="fa fa-check-square-o"></i>Taʼlim dasturlarining integratsiyalashuviga asoslangan
                            oʻqitishning fanlararo yondashuvini joriy qiladi va bu boradagi ijobiy tajribani umumiy
                            oʻrta taʼlim muassasalarida ommalashtiradi.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <img src="{% static 'img/about.jpg' %}" alt>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-section spad">
        <div class="container">
            <div class="testimonial-slider owl-carousel">
                <div class="ts-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ts-author-pic set-bg" data-setbg="{% static 'img/member/5.jpg.webp' %}"></div>
                        </div>
                        <div class="col-md-9 ts-text">
                            <p>“ Toshkent davlat yuridik universiteti ommaviy huquq fakulteti dekani, yuridik fanlar
                                nomzodi, professor. ”</p>
                            <h5>Sh. A. Saydullayev</h5>
                            <span>Taqrizchi</span>
                        </div>
                    </div>
                </div>
                <div class="ts-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ts-author-pic set-bg" data-setbg="{% static 'img/member/5.jpg.webp' %}"></div>
                        </div>
                        <div class="col-md-9 ts-text">
                            <p>“ O‘zbekiston Respublikasi Bosh prokuraturasi akademiyasi Korrupsiyaga qarshi kurashish
                                ilmiy taʼlim markazi boshligʻi, yuridik fanlar doktori, professor. ”</p>
                            <h5>B. I. Ismailov</h5>
                            <span>Taqrizchi</span>
                        </div>
                    </div>
                </div>
                <div class="ts-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ts-author-pic set-bg" data-setbg="{% static 'img/member/5.jpg.webp' %}"></div>
                        </div>
                        <div class="col-md-9 ts-text">
                            <p>“ Nizomiy nomidagi Toshkent davlat pedagogika universiteti ma’naviyat asoslari va huquq
                                ta’limi kafedrasi dotsenti, pedagogika fanlari nomzodi. ”</p>
                            <h5>N. F. Saydalixodjayeva</h5>
                            <span>Taqrizchi</span>
                        </div>
                    </div>
                </div>
                <div class="ts-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ts-author-pic set-bg" data-setbg="{% static 'img/member/5.jpg.webp' %}"></div>
                        </div>
                        <div class="col-md-9 ts-text">
                            <p>“ Toshkent shahri Sergeli tumanidagi 6-umumiy o‘rta ta’lim maktabining oliy toifali
                                davlat va huquq asoslari fani o‘qituvchisi. ”</p>
                            <h5>S. Z. Tilavova</h5>
                            <span>Taqrizchi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-section spad" id="mualliflar">
        <div class="container">
            <div class="section-title text-center">
                <h3>Mualliflar</h3>
                <p>Huquqiy Mutaxassislar</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="member">
                        <div class="member-pic set-bg" data-setbg="{% static 'img/member/1.jpg.webp' %}">
                            <div class="member-social">
                                <a href><i class="fa fa-facebook"></i></a>
                                <a href><i class="fa fa-twitter"></i></a>
                                <a href><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <h5>X. Tuychiyeva</h5>
                        <p>Teacher</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="member">
                        <div class="member-pic set-bg" data-setbg="{% static 'img/member/2.jpg.webp' %}">
                            <div class="member-social">
                                <a href><i class="fa fa-facebook"></i></a>
                                <a href><i class="fa fa-twitter"></i></a>
                                <a href><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <h5>A. Hakimov</h5>
                        <p>Teacher</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="member">
                        <div class="member-pic set-bg" data-setbg="{% static 'img/member/3.jpg.webp' %}">
                            <div class="member-social">
                                <a href><i class="fa fa-facebook"></i></a>
                                <a href><i class="fa fa-twitter"></i></a>
                                <a href><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <h5>O. Abdugʻaniyev</h5>
                        <p>Teacher</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="member">
                        <div class="member-pic set-bg" data-setbg="{% static 'img/member/4.jpg.webp' %}">
                            <div class="member-social">
                                <a href><i class="fa fa-facebook"></i></a>
                                <a href><i class="fa fa-twitter"></i></a>
                                <a href><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <h5>O. Shernayev</h5>
                        <p>Teacher</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-7">
                    <div class="section-title mb-md-0">
                        <h3>YANGILIKLAR XARITASI</h3>
                        <p>Obuna bo'ling va eng so'nggi yangiliklarni, foydali maslahatlar, tavsiyalar va eng yaxshi
                            takliflarni oling.</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-5">
                    <form class="newsletter">
                        <input type="text" placeholder="Elektron pochta...">
                        <button class="site-btn">OBUNA BO'LISH</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


