{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/1.jpg' %}">
                <div class="hs-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                                <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                                <p class="hs-des">Education is not just about going to school and getting a degree. It's
                                    about widening your<br> knowledge and absorbing the truth about life. Knowledge is
                                    power.</p>
                                <div class="site-btn">GET STARTED</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/2.jpg' %}">
                <div class="hs-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                                <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                                <p class="hs-des">Education is not just about going to school and getting a degree. It's
                                    about widening your<br> knowledge and absorbing the truth about life. Knowledge is
                                    power.</p>
                                <div class="site-btn">GET STARTED</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="counter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="big-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="counter-content">
                        <h2>Resurslari 2023- yil 30-apreldagi O’zbekiston respublikasi konstitutsiyasi asosida
                            tayyorlandi</h2>
                        <p><i class="fa fa-calendar-o"></i>07:00 PM - 09:00 PM</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="counter">
                        <div class="counter-item"><h4>20</h4>Days</div>
                        <div class="counter-item"><h4>08</h4>Hrs</div>
                        <div class="counter-item"><h4>40</h4>Mins</div>
                        <div class="counter-item"><h4>56</h4>secs</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="service-section spad">
        <div class="container services">
            <div class="section-title text-center">
                <h3>OUR SERVICES</h3>
                <p>We provides the opportunity to prepare for life</p>
            </div>
            <div class="row" style="justify-content: center">
                <div class="col-lg-4 col-sm-6 service-item">
                    <div class="service-icon">
                        <img src="{% static 'img/services-icons/1.png' %}" alt="1">
                    </div>
                    <div class="service-content">
                        <h4>JAMIYAT VA INSON HUQUQLARI</h4>
                        <p>Jamiyatda inson huquqlari muhimdir. Bu, har bir odamga adolat, barqarorlik va huquqni
                            ta'minlashga qaratilgan jadvaldir.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 service-item">
                    <div class="service-icon">
                        <img src="{% static 'img/services-icons/2.png' %}" alt="1">
                    </div>
                    <div class="service-content">
                        <h4>OILAVIY-HUQUQIY MUNOSABATLAR</h4>
                        <p>Oila a'zolari o'rtasidagi huquqiy munosabatlardir. Bu, oilaning azonlari o'rtasida adolat,
                            hurmat va tafakkur ko'rsatishga asoslangan.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 service-item">
                    <div class="service-icon">
                        <img src="{% static 'img/services-icons/3.png' %}" alt="1">
                    </div>
                    <div class="service-content">
                        <h4>FUQAROLIK-HUQUQIY MUNOSABATLAR</h4>
                        <p>Fuqarolarning huquqlarini va majburiyatlarini qonunlar to'g'risida himoya qilishda yashashga
                            qaratilgan adolat va barqarorlikdir.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 service-item">
                    <div class="service-icon">
                        <img src="{% static 'img/services-icons/4.png' %}" alt="1">
                    </div>
                    <div class="service-content">
                        <h4>O‘ZBEKISTON VA XALQARO HAMJAMIYAT</h4>
                        <p>O‘zbekiston va xalqaro hamjamiyatni qisqartiramiz: mamlakat va dunyo o‘rtasidagi
                            munosabatlarni kuchaytirish.</p>
                    </div>
                </div>
{#                <div class="col-lg-4 col-sm-6 service-item">#}
{#                    <div class="service-icon">#}
{#                        <img src="{% static 'img/services-icons/5.png' %}" alt="1">#}
{#                    </div>#}
{#                    <div class="service-content">#}
{#                        <h4>Flexible Schedule</h4>#}
{#                        <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.#}
{#                            Aenean dos cursus lania.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6 service-item">#}
{#                    <div class="service-icon">#}
{#                        <img src="{% static 'img/services-icons/6.png' %}" alt="1">#}
{#                    </div>#}
{#                    <div class="service-content">#}
{#                        <h4>Chemistry Lab</h4>#}
{#                        <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.#}
{#                            Aenean dos cursus lania.</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>


    <section class="enroll-section spad set-bg" data-setbg="img/enroll-bg.jpg">
        <div class="container">
            <div class="row" style="align-items: center">
                <div class="col-lg-5">
                    <div class="section-title text-white">
                        <h3>SHARTLI BELGILAR</h3>
                        <p>Original maket va dizayn konsepsiyasi Respublika taʼlim markazi tomonidan ishlandi.</p>
                    </div>
                    <div class="enroll-list text-white">
                        <div class="enroll-list-item">
                            <span>1</span>
                            <h5>Bilib olasiz</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices
                                augue.</p>
                        </div>
                        <div class="enroll-list-item">
                            <span>2</span>
                            <h5>Yodda tuting</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices
                                augue.</p>
                        </div>
                        <div class="enroll-list-item">
                            <span>3</span>
                            <h5>Savol va topshiriqlar</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices
                                augue.</p>
                        </div>
                        <div class="enroll-list-item">
                            <span>3</span>
                            <h5>Mustaqil ish uchun topshiriq</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices
                                augue.</p>
                        </div>
                        <div class="enroll-list-item">
                            <span>3</span>
                            <h5>Tarixga nazar</h5>
                            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices
                                augue.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
                    <img src="{% static 'img/encroll-img.jpg' %}" alt>
                </div>
            </div>
        </div>
    </section>


    <section class="courses-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h3>MAVZULAR</h3>
                <p>Umumiy o‘rta ta’lim maktablarining 10-sinfi uchun darslik</p>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 course-item">
                    <div class="course-thumb">
                        <img src="{% static 'img/course/1.jpg' %}" alt>
                        <div class="course-cat">
                            <span>1-MAVZU</span>
                        </div>
                    </div>
                    <div class="course-info">
                        <div class="date"><i class="fa fa-clock-o"></i> 22 Mar 2018</div>
                        <h4>Jamiyatda inson huquqlarining o‘rni</h4>
                        <h4 class="cource-price">1-2<span>/dars</span></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 course-item">
                    <div class="course-thumb">
                        <img src="{% static 'img/course/2.jpg' %}" alt>
                        <div class="course-cat">
                            <span>2-MAVZU</span>
                        </div>
                    </div>
                    <div class="course-info">
                        <div class="date"><i class="fa fa-clock-o"></i> 22 Mar 2018</div>
                        <h4>Jamiyatda shaxsning huquqiy maqomi</h4>
                        <h4 class="cource-price">3-4<span>/dars</span></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 course-item">
                    <div class="course-thumb">
                        <img src="{% static 'img/course/3.jpg' %}" alt>
                        <div class="course-cat">
                            <span>3-MAVZU</span>
                        </div>
                    </div>
                    <div class="course-info">
                        <div class="date"><i class="fa fa-clock-o"></i> 22 Mar 2018</div>
                        <h4>Inson huquqlari va huquq ustuvorligi</h4>
                        <h4 class="cource-price">5<span>/dars</span></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 course-item">
                    <div class="course-thumb">
                        <img src="{% static 'img/course/4.jpg' %}" alt>
                        <div class="course-cat">
                            <span>4-MAVZU</span>
                        </div>
                    </div>
                    <div class="course-info">
                        <div class="date"><i class="fa fa-clock-o"></i> 22 Mar 2018</div>
                        <h4>Inson huquqlari va ijtimoiy br himoya</h4>
                        <h4 class="cource-price">6<span>/month</span></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 course-item">
                    <div class="course-thumb">
                        <img src="{% static 'img/course/5.jpg' %}" alt>
                        <div class="course-cat">
                            <span>5-MAVZU</span>
                        </div>
                    </div>
                    <div class="course-info">
                        <div class="date"><i class="fa fa-clock-o"></i> 22 Mar 2018</div>
                        <h4>Inson huquqlari bo‘yicha milliy <br> qonunchilik</h4>
                        <h4 class="cource-price">7<span>/dars</span></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 course-item">
                    <div class="course-thumb">
                        <img src="{% static 'img/course/6.jpg' %}" alt>
                        <div class="course-cat">
                            <span>6-MAVZU</span>
                        </div>
                    </div>
                    <div class="course-info">
                        <div class="date"><i class="fa fa-clock-o"></i> 22 Mar 2018</div>
                        <h4>Inson huquqlarini himoya qiluvchi organlar</h4>
                        <h4 class="cource-price">8<span>/dars</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fact-section spad set-bg" data-setbg="{% static 'img/fact-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 fact">
                    <div class="fact-icon">
                        <i class="ti-crown"></i>
                    </div>
                    <div class="fact-text">
                        <h2>50</h2>
                        <p>YEARS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 fact">
                    <div class="fact-icon">
                        <i class="ti-briefcase"></i>
                    </div>
                    <div class="fact-text">
                        <h2>80</h2>
                        <p>TEACHERS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 fact">
                    <div class="fact-icon">
                        <i class="ti-user"></i>
                    </div>
                    <div class="fact-text">
                        <h2>500</h2>
                        <p>STUDENTS</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 fact">
                    <div class="fact-icon">
                        <i class="ti-pencil-alt"></i>
                    </div>
                    <div class="fact-text">
                        <h2>800+</h2>
                        <p>LESSONS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{#    <section class="event-section spad">#}
{#        <div class="container">#}
{#            <div class="section-title text-center">#}
{#                <h3>OUR EVENTS</h3>#}
{#                <p>Our department initiated a series of events</p>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-6 event-item">#}
{#                    <div class="event-thumb">#}
{#                        <img src="{% static  'img/event/1.jpg' %}" alt>#}
{#                        <div class="event-date">#}
{#                            <span>24 Mar 2018</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="event-info">#}
{#                        <h4>The dos and don'ts of writing a personal<br>statement for languages</h4>#}
{#                        <p><i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM <i class="fa fa-map-marker"></i> Center#}
{#                            Building, Block A</p>#}
{#                        <a href class="event-readmore">REGISTER <i class="fa fa-angle-double-right"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 event-item">#}
{#                    <div class="event-thumb">#}
{#                        <img src="{% static 'img/event/2.jpg' %}" alt>#}
{#                        <div class="event-date">#}
{#                            <span>22 Mar 2018</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="event-info">#}
{#                        <h4>University interview tips:<br>confidence won't make up for flannel</h4>#}
{#                        <p><i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM <i class="fa fa-map-marker"></i> Center#}
{#                            Building, Block A</p>#}
{#                        <a href class="event-readmore">REGISTER <i class="fa fa-angle-double-right"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{##}
{#    <div class="gallery-section">#}
{#        <div class="gallery">#}
{#            <div class="grid-sizer"></div>#}
{#            <div class="gallery-item gi-big set-bg" data-setbg="{% static 'img/gallery/1.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/1.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/2.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/2.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/3.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/3.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg gi-long" data-setbg="{% static 'img/gallery/5.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/5.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg gi-big" data-setbg="{% static 'img/gallery/8.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/8.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg gi-long" data-setbg="{% static 'img/gallery/4.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/4.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/6.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/6.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#            <div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/7.jpg' %}">#}
{#                <a class="img-popup" href="{% static 'img/gallery/7.jpg' %}"><i class="ti-plus"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <section class="blog-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h3>YANGILIKLAR</h3>
                <p>Huquqiy bilimlarni ko'paytirish, yangi qonunlar va huquqiy tartibotni o'rganish.</p>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/1.jpg' %}"></div>
                        <div class="blog-content">
                            <h4>Parents who try to be their children’s best friends</h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-calendar-o"></i> 24 Mar 2018</span>
                                <span><i class="fa fa-user"></i> Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet.
                                Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/2.jpg' %}"></div>
                        <div class="blog-content">
                            <h4>Graduations could be delayed as external examiners</h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-calendar-o"></i> 23 Mar 2018</span>
                                <span><i class="fa fa-user"></i> Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet.
                                Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/3.jpg' %}"></div>
                        <div class="blog-content">
                            <h4>Private schools adopt a Ucas style application system</h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-calendar-o"></i> 24 Mar 2018</span>
                                <span><i class="fa fa-user"></i> Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet.
                                Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/4.jpg' %}"></div>
                        <div class="blog-content">
                            <h4>Cambridge digs in at the top of university league table</h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-calendar-o"></i> 23 Mar 2018</span>
                                <span><i class="fa fa-user"></i> Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet.
                                Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-7">
                    <div class="section-title mb-md-0">
                        <h3>YANGILIKLAR XARITASI</h3>
                        <p>Obuna bo'ling va eng so'nggi yangiliklarni, foydali maslahatlar, tavsiyalar va eng yaxshi takliflarni oling.</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-5">
                    <form class="newsletter">
                        <input type="text" placeholder="Elektron pochta...">
                        <button class="site-btn">OBUNA BO'LISH</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    Ï
{% endblock %}